{% extends "layout/base.html" %} {% block title %}CleanCode{% endblock %} {%
block head_js %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/linknavbar.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/flashsale.css') }}"
/>
{% endblock %} {% block content %}
<!-- Banner -->
<div class="banner">
  <!-- JS trong trangchu.js sẽ tự động thêm các hình banner vào đây -->
  <div class="owl-carousel owl-theme"></div>
</div>

<!-- Black Friday banner -->
<img
  src="{{ url_for('static', filename='img/banners/blackFriday.gif') }}"
  alt="Black Friday"
  style="width: 100%"
/>

<br /><br /><br />

<!-- Sản phẩm khuyến mãi -->
<div id="product-promotion" style="padding: 10px 30px;">
  {% include 'partials/_product_promotion.html' %}
</div>

<div class="flexContain">
  <div class="pricesRangeFilter dropdown">
    <button class="dropbtn">Giá tiền</button>
    <div class="dropdown-content">
      <a
        href="{{ url_for('main.home', price_range='0-15000000') }}"
        hx-get="{{ url_for('main.home', price_range='0-15000000') }}"
        hx-target="#product-list"
        hx-swap="innerHTML"
        hx-push-url="true"
        >Dưới 15 triệu</a
      >
      <a
        href="{{ url_for('main.home', price_range='15000000-25000000') }}"
        hx-get="{{ url_for('main.home', price_range='15000000-25000000') }}"
        hx-target="#product-list"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        Từ 15 - 25 triệu
      </a>
      <a
        href="{{ url_for('main.home', price_range='25000000-999999999') }}"
        hx-get="{{ url_for('main.home', price_range='25000000-999999999') }}"
        hx-target="#product-list"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        Trên 25 triệu
      </a>
    </div>
  </div>

  <div class="sortFilter dropdown">
    <button class="dropbtn">Sắp xếp</button>
    <div class="dropdown-content">
      <a
        href="{{ url_for('main.home', sort='price_asc') }}"
        hx-get="{{ url_for('main.home', sort='price_asc') }}"
        hx-target="#product-list"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        Giá: Thấp đến Cao
      </a>
      <a
        href="{{ url_for('main.home', sort='price_desc') }}"
        hx-get="{{ url_for('main.home', sort='price_desc') }}"
        hx-target="#product-list"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        Giá: Cao đến Thấp
      </a>
      <a
        href="{{ url_for('main.home', sort='latest') }}"
        hx-get="{{ url_for('main.home', sort='latest') }}"
        hx-target="#product-list"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        Mới nhất
      </a>
    </div>
  </div>
</div>
<!-- End khung chọn bộ lọc -->

<div class="choosedFilter flexContain">
  <a id="deleteAllFilter" style="display: none">
    <h3>Xóa bộ lọc</h3>
  </a>
</div>
<hr />

<!-- Mặc định ẩn, nếu có filter thì mới hiện -->
<div class="contain-products" style="display: none">
  <div class="filterName">
    <input
      type="text"
      placeholder="Lọc trong trang theo tên..."
      onkeyup="filterProductsName(this)"
    />
  </div>

  <div class="pagination"></div>
</div>

<!-- Navbar links category -->
<div id="category-nav-wrapper">
    {% include 'partials/_nav.html' %}
</div>
<div id="product-list">
    {% include 'partials/_product_list.html' %}
</div>
{% endblock %} 
{% block body_js %} 
    {{ super() }}

<script>
  window.flashSalePayUrl = "{{ url_for('main.methods_pay') }}";
</script>

<script src="{{ url_for('static', filename='js/trangchu.js') }}"></script>
<script src="{{ url_for('static', filename='js/flashsale.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>

{% endblock %}
