{% extends 'layout/base.html' %}

{% block title %} Tin tức {% endblock %}

{% block head_js %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tintuc.css') }}">
{% endblock %}

{% block content %}
    <section style="min-height: 85vh;">
        <div class="body-tintuc">
            <div class="tintuc-info">
                <a href="https://google.com" target="_blank">
                    <img src="{{ url_for('static', filename='img/tintuc/tintuc1.png') }}" alt="">
                    <h2>Ghi nội dung ở đây</h2>
                </a>
                <br/>
            </div>
            <div class="tintuc-info">
                <a href="https://google.com" target="_blank">
                    <img src="{{ url_for('static', filename='img/tintuc/tintuc2.png') }}" alt="">
                    <h2>Ghi nội dung ở đây</h2>
                </a>
                <br/>
            </div>
            <div class="tintuc-info">
                <a href="https://google.com" target="_blank">
                    <img src="{{ url_for('static', filename='img/tintuc/tintuc3.png') }}" alt="">
                    <h2>Ghi nội dung ở đây</h2>
                </a>
                <br/>
            </div>
            <div class="tintuc-info">
                <a href="https://google.com" target="_blank">
                    <img src="{{ url_for('static', filename='img/tintuc/tintuc4.png') }}" alt="">
                    <h2>Ghi nội dung ở đây</h2>
                </a>
                <br/>
            </div>
            <div class="tintuc-info">
                <a href="https://google.com" target="_blank">
                    <img src="{{ url_for('static', filename='img/tintuc/tintuc5.png') }}" alt="">
                    <h2>Ghi nội dung ở đây</h2>
                </a>
                <br/>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_js %}
    {{ super() }}
{% endblock %}
