{% extends 'layout/base.html' %}

{% block title %} Người dùng {% endblock %}

{% block head_js %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gioHang.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nguoidung.css') }}">
{% endblock %}

{% block content %}
    <!-- <script> addTopNav();</script> -->

    <section>
        <!-- <script> addHeader(); </script> -->
        <img src="{{ url_for('static', filename='img/banners/blackFriday.gif') }}" alt="" style="width: 100%; margin-top: 20px;">

        <div class="infoUser">

        </div>

        <div class="listDonHang"> </div>
    </section>

    <!-- <script>
        addContainTaiKhoan(); addPlc();
    </script> -->

    <div class="footer">
        <!-- <script>addFooter();</script> -->
    </div>
{% endblock %}

{% block body_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/nguoidung.js') }}"></script>
{% endblock %}
