* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #7c7b7b no-repeat center center/cover;
}

.wrapper-register {
  width: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper-register h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper-register .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper-register .btn-register {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper-register .btn-register:hover {
  background: #df3346;
  color: #fff;
  transition: all 0.3s ease;
}

.wrapper-register .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.login-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.login-link p a:hover {
  text-decoration: underline;
}
